* {
  margin: 0;
  padding: 0;
}

#htmlData {
  border: 1px solid blue;
  margin: auto 4em;
  overflow: scroll;
}

#jsonData {
  border: 1px solid green;
  margin: auto 4em;
  overflow: scroll;
}

.tableBorder {
  border: 1px double grey;
}
